<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{this.formObj.value?._id ? 'Update Note': 'Add Note'}}
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="form" id="form" [formGroup]="formObj" (ngSubmit)="submit()"
    novalidate>

    <!-- Title input-->
    <div class="form-group">
      <input formControlName="title" type="text" class="form-control" placeholder="What is on your mind today?"
        autofocus>
    </div>

    <!-- Description -->
    <div class="form-group">
      <ngx-quilljs formControlName="description" [options]="QUILL_OPTIONS"></ngx-quilljs>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" [disabled]="!formObj.valid || isSubmit">
          Save <i *ngIf="isSubmit" class="fa fa-spinner fa-spin ml-2"></i></button>
      </div>
    </div>
  </form>
</div>
