<div class="modal fade" id="{{modelId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true" style="display: none;">
  <form class="form-horizontal" role="form" name="form" id="form" [formGroup]="formObj" (ngSubmit)="submit()"
    novalidate>
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">

        <div class="iq-card">
          <div class="iq-card-body">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{this.formObj.value?._id ? 'Update Goal': 'Add Goal'}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

              <!-- Title input-->
              <div class="form-group">
                <!-- <div class="col-sm-12"> -->
                <input formControlName="title" type="text" class="form-control"
                  placeholder="What is on your mind today?" autofocus>
                <!-- </div> -->
              </div>
              <!-- Description -->
              <div class="form-group">
                <!-- <div class="col-sm-9"> -->
                <ngx-quilljs formControlName="description" [options]="QUILL_OPTIONS"></ngx-quilljs>
                <!-- <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description"
                  rows="5"></textarea> -->
                <!-- </div> -->
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-primary mr-2" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="!formObj.valid || isSubmit">
                    Save changes <i *ngIf="isSubmit" class="fa fa-spinner fa-spin ml-2"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>