<div class="wrapper">
  <div class="iq-sidebar" style="height: 0%;">
    <div class="iq-navbar-logo d-flex justify-content-between">
      <a routerLink="/" class="header-logo">
        <span>InstaTodos</span>
      </a>
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
        </div>
      </div>
    </div>
  </div>
  <div class="iq-top-navbar" style="width: 100%;">
    <div class="iq-navbar-custom">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="iq-menu-bt d-flex align-items-center">
          <div class="wrapper-menu">
          </div>
          <div class="iq-navbar-logo d-flex justify-content-between ml-3">
            <a routerLink="/" class="header-logo">
              <span>InstaTodos</span>
            </a>
          </div>
        </div>
        <div class="iq-search-bar">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-list">
            <ng-container>
              <app-multilingual></app-multilingual>
            </ng-container>
            <li class="nav-item">
              <a class="search-toggle iq-waves-effect language-title" routerLink="/auth/login"><span
                  style="width: 98px; height: 98px; top: -15px; left: 56.2969px;"></span>
                Get Started
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="mt-5 iq-maintenance">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="iq-footer mt-5" style="margin-left: 0px;">
  <app-footer></app-footer>
</footer>
