<div class="">
  <header class="bg-light box-shadow-sm navbar-sticky">
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand d-none d-sm-block mr-4 order-lg-1" href="index.html" style="min-width: 7rem;">
          <img width="142" src="img/logo-dark.png" alt="Cartzilla" />
        </a>
        <a class="navbar-brand d-sm-none mr-2 order-lg-1" href="index.html" style="min-width: 4.625rem;"><img width="74"
            src="img/logo-icon.png" alt="Cartzilla" />
        </a>
        <div class="navbar-toolbar d-flex align-items-center order-lg-3">
          <a class="btn btn-primary btn-shadow" routerLink="/auth/login" rel="noopener"><i
              class="czi-user mr-1 d-none d-sm-inline-block"></i>Login
          </a>
        </div>
        <div class="collapse navbar-collapse mr-auto order-lg-2" id="navbarCollapse">
          <hr class="my-3">
        </div>
      </div>
    </div>
  </header>
  <div class="iq-maintenance">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="iq-footer mt-5" style="margin-left: 0px;">
  <app-footer></app-footer>
</footer>
