<div class="container-fluid mh-40">
  <div class="row mt-15">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="iq-accordion career-style faq-style  ">
        <div class="iq-card iq-accordion-block accordion-active">
          <div class="active-faq clearfix" style="">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <a>
                    <h2 class="text-center">
                      InstaTodos PRIVACY POLICY
                    </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">

            <p>GroupsDaddy.com collects information from you to provide you a customized experience. GroupsDaddy.com
              requires
              you to provide information email address at the time of group registration. We automatically collect
              certain
              non-personal information based on your behaviour on our website. GroupsDaddy.com collects which browser
              your
              are
              using and IP address, this information is required so that GroupsDaddy.com may better understand its
              users.
            </p>
            <h3>
              Personal Info
            </h3>
            <p>
              In no event shall we be liable for any special, direct, indirect, consequential, or incidental damages or
              any
              damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in the
              connection with the use of the Service or the contents of the Service. GroupsDaddy.com reserves the right
              to
              make additions, deletions, or modification to the contents on the Service at any time without prior
              notice.
              Our
              Website does not warrant that the website is free of viruses or other harmful components. We will not Pass
              or
              save your name or Personal detail to anyone for personal info, and we can’t your whatsapp number or
              whatsapp
              applications.
            </p>
            <h3>Cookies</h3>
            <p>Our Website Not Having Cookies &amp; We Can’t Save Your Data.Google Analytics Having Own Privacy Policy
              So We Do
              Not
              Accept Any Responsibility for these Policies.You will Configure Your Browser Settings to Not Accept
              Cookies
              for
              Your Personal Information.
            </p>
            <h3>Use of Information</h3>
            <p>
              We will not sell or rent your information to third parties for marketing purposes and will only disclose
              your
              information in accordance with our Privacy Policy and/or with your permission. If you engage in illegal
              activity
              while using GroupsDaddy.com or any of its services, we may provide your personal information to
              authorities
              in
              an
              effort to enforce our terms and conditions.
            </p>
            <h3>Legal Disclaimer</h3>
            <p>
              We reserve the right to disclose your personally identifiable information as required by law and when we
              believe
              that
              disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or
              legal
              process
              served on our Web site.
            </p>
            <h3>
              Changes to our Privacy Policy
            </h3>
            <p>
              GroupsDaddy.com will occasionally update this privacy statement. The current version will always be posted
              here.
              Please
              report any violations of these Terms &amp; Conditions by using our contact form.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>