<div class="container-fluid mh-40">
  <div class="row mt-15">
    <div class="compose-popup">
      <div class="iq-card iq-border-radius-20 mb-0">
        <div class="iq-card-body">
          <div class="row align-items-center">
            <div class="col-md-12 mb-3">
              <h5 class="text-primary float-left"><i class="ri-pencil-fill"></i> Compose Message</h5>
              <button type="submit" class="float-right close-popup" data-dismiss="modal"><i
                  class="ri-close-fill"></i></button>
            </div>
          </div>
          <form class="email-form">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">To:</label>
              <div class="col-sm-10">
                <select id="inputEmail3" class="select2jsMultiSelect form-control select2-hidden-accessible" multiple=""
                  data-select2-id="inputEmail3" tabindex="-1" aria-hidden="true">
                  <option value="Petey Cruiser">Petey Cruiser</option>
                  <option value="Bob Frapples">Bob Frapples</option>
                  <option value="Barb Ackue">Barb Ackue</option>
                  <option value="Greta Life">Greta Life</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                  data-select2-id="1" style="width: 100px;"><span class="selection"><span
                      class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true"
                      aria-expanded="false" tabindex="-1" aria-disabled="false">
                      <ul class="select2-selection__rendered">
                        <li class="select2-search select2-search--inline"><input class="select2-search__field"
                            type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none"
                            spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder=""
                            style="width: 0.75em;"></li>
                      </ul>
                    </span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
            </div>
            <div class="form-group row">
              <label for="cc" class="col-sm-2 col-form-label">Cc:</label>
              <div class="col-sm-10">
                <select id="cc" class="select2jsMultiSelect form-control select2-hidden-accessible" multiple=""
                  data-select2-id="cc" tabindex="-1" aria-hidden="true">
                  <option value="Brock Lee">Brock Lee</option>
                  <option value="Rick O'Shea">Rick O'Shea</option>
                  <option value="Cliff Hanger">Cliff Hanger</option>
                  <option value="Barb Dwyer">Barb Dwyer</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                  data-select2-id="2" style="width: 100px;"><span class="selection"><span
                      class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true"
                      aria-expanded="false" tabindex="-1" aria-disabled="false">
                      <ul class="select2-selection__rendered">
                        <li class="select2-search select2-search--inline"><input class="select2-search__field"
                            type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none"
                            spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder=""
                            style="width: 0.75em;"></li>
                      </ul>
                    </span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
            </div>
            <div class="form-group row">
              <label for="subject" class="col-sm-2 col-form-label">Subject:</label>
              <div class="col-sm-10">
                <input type="text" id="subject" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="subject" class="col-sm-2 col-form-label">Your Message:</label>
              <div class="col-md-10">
                <textarea class="textarea form-control"
                  rows="5">Next, use our Get Started docs to setup Tiny!</textarea>
              </div>
            </div>
            <div class="form-group row align-items-center compose-bottom pt-3 m-0">
              <div class="d-flex flex-grow-1 align-items-center">
                <div class="send-btn">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
                <div class="send-panel">
                  <label class="ml-2 mb-0 iq-bg-primary rounded" for="file"> <input type="file" id="file"
                      style="display: none"> <a><i class="ri-attachment-line"></i> </a> </label>
                  <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                        class="ri-map-pin-user-line text-primary"></i></a> </label>
                  <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                        class="ri-drive-line text-primary"></i></a> </label>
                  <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                        class="ri-camera-line text-primary"></i></a> </label>
                  <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                        class="ri-user-smile-line text-primary"></i></a> </label>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="send-panel float-right">
                  <label class="ml-2 mb-0 iq-bg-primary rounded"><a href="javascript:void();"><i
                        class="ri-settings-2-line text-primary"></i></a></label>
                  <label class="ml-2 mb-0 iq-bg-primary rounded"><a href="javascript:void();"> <i
                        class="ri-delete-bin-line text-primary"></i></a> </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>