<h1 class="mb-0 text-center">Reset Password</h1>
<!-- <p class="text-center text-dark">Enter your email address and password to access admin panel.</p> -->
<form class="mt-4" [formGroup]="formObj" #formDir="ngForm" (ngSubmit)="submit()" name="formObj">
  <div class="form-group">
    <!-- <label for="exampleInputEmail1">{{'auth.email'|translate}}</label> -->
    <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter new Password"
      formControlName="password" required>
    <div>
      <span
        *ngIf="formObj.controls.password.touched && formObj.controls.password.errors && formObj.controls.password.errors.required">
        password is required</span>
    </div>
  </div>
  <div class="sign-info text-center">
    <button type="submit" class="btn btn-primary d-block w-100 mb-2"
      [disabled]="!formObj.valid || isSubmit">{{'auth.reset'|translate}} <i *ngIf="isSubmit"
        class="fa fa-spinner fa-spin ml-2"></i></button>
    <span class="text-dark dark-color d-inline-block line-height-2">Already have an account? <a
        routerLink="/">{{'auth.signin'|translate}}</a></span>
  </div>
</form>
