<div class="modal fade" id="{{modelId}}" tabindex="-1" role="dialog" aria-labelledby="tagsModalTitle" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="iq-card">
        <div class="iq-card-body">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="tagsModalTitle"># Tags</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" name="form" id="form" [formGroup]="formObj" (ngSubmit)="submit()" novalidate>
              <div class="form-group">
                <!-- <label for="colFormLabelSm">Small</label> -->
                <input type="text" class="form-control form-control-sm" id="name" placeholder="Label Name"
                  formControlName="name" [style]="{'color': formObj.value.color}">
              </div>
              <div class="form-group">
                <!-- <label for="colFormLabel">Default</label> -->
                <input type="text" class="form-control" id="description" placeholder="Description"
                  formControlName="description" autocomplete="off">
              </div>
              <div class="form-group input-group cursor" (click)="refreshColor()">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-sync-alt"></i></span>
                </div>
                <!-- <label for="colFormLabelLg" class="pb-0">Large</label> -->
                <input type="text" class="form-control form-control-lg" id="color" placeholder="Color"
                  formControlName="color" [style]="{'color': formObj.value.color}">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!formObj.valid">
                  Save changes
                  <!-- <i class="fa fa-spinner fa-spin"></i> -->
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>