<div class="tab-pane fade active show" id="personal-information" role="tabpanel">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">Personal Information</h4>
      </div>
    </div>
    <div class="iq-card-body">
      <form [formGroup]="formObj" (ngSubmit)="submit()" novalidate>
        <!-- <div class="form-group row align-items-center">
          <div class="col-md-12">
            <div class="profile-img-edit">
              <img class="profile-pic" src="/assets/facelift/images/user/11.png" alt="profile-pic">
              <div class="p-image">
                <i class="ri-pencil-line upload-button"></i>
                <input class="file-upload" type="file" accept="image/*">
              </div>
            </div>
          </div>
        </div> -->
        <div class=" row align-items-center">
          <div class="form-group col-sm-6">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" formControlName="firstname" placeholder="Firstname">
          </div>
          <div class="form-group col-sm-6">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" formControlName="lastname" placeholder="Lastname">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" [disabled]="!formObj.valid">Submit</button>
        <button type="reset" class="btn iq-bg-danger">Cancel</button>
      </form>
    </div>
  </div>
</div>