<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-inline mb-0">
        <li class="list-inline-item" *ngFor="let link of links">
          <a routerLInk="link?.href" [ngClass]="{ 'text-warning': !link?.internal }"
            *ngIf="link?.internal; else external">
            {{link?.name}}
          </a>
          <ng-template #external>
            <a href="{{link?.href}}" [ngClass]="{ 'text-warning': !link?.internal }" target="_blank">
              {{link?.name}}
            </a>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 text-right">
      Copyright 2020 <a routerLink="/">InstaTodos</a> All Rights Reserved.
    </div>
  </div>
</div>
