<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-inline mb-0">
        <li class="list-inline-item" *ngFor="let link of links">
          <a routerLInk="link?.href" [ngClass]="{ 'text-warning': !link?.internal }"
            *ngIf="link?.internal; else external">
            {{link?.name}}
          </a>
          <ng-template #external>
            <a href="{{link?.href}}" [ngClass]="{ 'text-warning': !link?.internal }" target="_blank">
              {{link?.name}}
            </a>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 text-right">
      Copyright 2020 <a routerLink="/">InstaTodos</a> All Rights Reserved.
    </div>
  </div>
</div> -->
<footer class="bg-dark pt-5">
  <div class="pt-5 bg-darker">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-rocket text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">Fast and free delivery</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">Free delivery for all orders over $200</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">Money back guarantee</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">We return money within 30 days</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-support text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">24/7 customer support</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">Friendly 24/7 customer support</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-card text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">Secure online payment</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-light pb-4 mb-3">
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-left mb-4">
          <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img class="d-block"
                width="117" src="img/footer-logo-light.png" alt="Cartzilla"></a>
            <div class="btn-group dropdown disable-autohide">
              <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button"
                data-toggle="dropdown"><img class="mr-2" width="20" src="img/flags/en.png" alt="English">Eng / $
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <select class="custom-select custom-select-sm">
                    <option value="usd">$ USD</option>
                    <option value="eur">€ EUR</option>
                    <option value="ukp">£ UKP</option>
                    <option value="jpy">¥ JPY</option>
                  </select>
                </li>
                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="img/flags/fr.png"
                      alt="Français">Français</a></li>
                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="img/flags/de.png"
                      alt="Deutsch">Deutsch</a></li>
                <li><a class="dropdown-item" href="#"><img class="mr-2" width="20" src="img/flags/it.png"
                      alt="Italiano">Italiano</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Outlets</a></li>
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Affiliates</a></li>
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Support</a></li>
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Privacy</a></li>
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Terms of use</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-right mb-4">
          <div class="mb-3"><a class="social-btn sb-light sb-twitter ml-2 mb-2" href="#"><i
                class="czi-twitter"></i></a><a class="social-btn sb-light sb-facebook ml-2 mb-2" href="#"><i
                class="czi-facebook"></i></a><a class="social-btn sb-light sb-instagram ml-2 mb-2" href="#"><i
                class="czi-instagram"></i></a><a class="social-btn sb-light sb-pinterest ml-2 mb-2" href="#"><i
                class="czi-pinterest"></i></a><a class="social-btn sb-light sb-youtube ml-2 mb-2" href="#"><i
                class="czi-youtube"></i></a></div><img class="d-inline-block" width="187" src="img/cards-alt.png"
            alt="Payment methods">
        </div>
      </div>
      <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">© All rights reserved. Made by <a
          class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
    </div>
  </div>
</footer>
