<!-- Sidebar  -->
<div class="iq-sidebar">
  <div class="iq-navbar-logo d-flex justify-content-between">
    <a routerLink="/" class="header-logo">
      <span>InstaTodos</span>
    </a>
    <div class="iq-menu-bt align-self-center">
      <div class="wrapper-menu">
        <div class="main-circle"><i class="fas fa-bars"></i></div>
        <div class="hover-circle"><i class="fas fa-times"></i></div>
      </div>
    </div>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li *ngFor="let link of navLinks" [ngClass]="{'active': link?.active &&  link?.name !== 'Lists'}">
          <ng-container *ngIf="!link?.children">
            <a [routerLink]="link?.link" class="iq-waves-effect" routerLinkActive>
              <i class="iq-arrow-left" [ngClass]="link?.icon"></i><span>{{('' + link?.slug ) | translate}}</span>
              <span class="badge badge-primary ml-2 p-1" *ngIf="link?.count">
                {{link?.count ? link?.count : ''}}
              </span>
            </a>
          </ng-container>
          <ng-container *ngIf="link?.children && link?.children.length">
            <hr>
            <a class="iq-waves-effect ml-2">
              <span class="ripple rippleEffect"></span>
              <!-- <i class=" iq-arrow-left" [ngClass]="link?.icon"></i> -->
              <span>{{('' + link?.slug ) | translate}}</span>
              <i class="fa fa-pencil-alt ml-2 cursor" aria-hidden="true" style="font-size: 14px;" data-toggle="modal"
                data-target="#exampleModalScrollable"></i>
              <!-- <i class="ri-arrow-right-s-line iq-arrow-right"></i> -->
            </a>
            <ul id="{{link?.name}}" class="iq-submenu" [ngClass]="{'iq-menu-custom':  link?.name === 'Lists' }">
              <ng-container *ngIf="link?.name !== 'Lists'">
                <li *ngFor="let data of link?.children">
                  <a class="nav-link" [routerLink]="data?.link">
                    <i [ngClass]="data?.icon"></i>{{('' + data?.slug ) | translate}}
                    <span class="badge badge-primary ml-2 p-1" *ngIf="data?.count">
                      {{data?.count ? data?.count : ''}}
                    </span>
                  </a>
                </li>
              </ng-container>
              <ng-container *ngIf="link?.name === 'Lists'">
                <app-todo-label-list></app-todo-label-list>
              </ng-container>
            </ul>
          </ng-container>
        </li>
      </ul>
    </nav>
    <div class="p-3"></div>
  </div>
</div>
<app-todo-label></app-todo-label>