<!-- Sidebar  -->
<div class="iq-sidebar">
  <div class="iq-navbar-logo d-flex justify-content-between">
    <a routerLink="/" class="header-logo">
      <span>InstaTodos</span>
    </a>
    <div class="iq-menu-bt align-self-center">
      <div class="wrapper-menu">
        <div class="main-circle"><i class="ri-menu-line"></i></div>
        <div class="hover-circle"><i class="ri-close-fill"></i></div>
      </div>
    </div>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li class="active">
          <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
              class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Todos</span><i
              class="ri-arrow-right-s-line iq-arrow-right"></i>
          </a>
          <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
            <li><a routerLink="/tasks/today"><i class="lab la-bandcamp"></i>Today ( {{count?.today}} )</a></li>
            <li><a routerLink="/tasks/inbox"><i class="las la-ad"></i>Inbox  ( {{count?.inbox}} )</a></li>
            <!-- <li><a routerLink="/tasks/pending"><i class="las la-atom"></i>Pending</a></li> -->
            <li><a routerLink="/tasks/completed"><i class="las la-crosshairs"></i>Completed ( {{count?.completed}} )</a></li>
          </ul>
        </li>
        <li>
          <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
              class="ripple rippleEffect"></span><i class="fa fa-tasks iq-arrow-left"></i><span>Lists</span><i
              class="ri-arrow-right-s-line iq-arrow-right"></i>
          </a>
          <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle"
            style="margin-bottom: 50px !important;">
            <ng-container>
              <app-todo-label-list></app-todo-label-list>
            </ng-container>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="p-3"></div>
  </div>
</div>
<app-todo-label></app-todo-label>