<section class="bg-accent bg-position-center bg-size-cover py-3 py-sm-5"
  style="background-image: url(img/intro/intro-hero.jpg);">
  <div class="container py-5">
    <div class="row pt-md-5 pb-lg-5 justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10 text-center py-xl-3">
        <h1 class="text-light pb-sm-3">
          <span class='font-weight-light'>Enhance your Productivity</span>
          &<br>make your life more
          <span class='font-weight-light'>better</span>
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- Cartzilla pages section-->
<section class="bg-dark py-5">
  <div class="container py-3 py-lg-4">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-5 pb-4 pb-lg-0">
        <h2 class="text-light">
          <span class='font-weight-light'>Complete</span>
          Productivity Management
          <span class='font-weight-light'>Solution</span>
        </h2>
        <p class="text-light opacity-70">All you need for your making your life easy</p>
        <ul class="text-light list-unstyled pt-3">
          <li><i class="czi-check-circle text-success mr-2"></i>Create Tasks/Todos</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Create Tags</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Create Labels</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Checkout Pending Tasks</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Checkout Completed Tasks</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Create SubTasks</li>
          <li><i class="czi-check-circle text-success mr-2"></i>See your activity on Charts</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Create Notes</li>
          <li><i class="czi-check-circle text-success mr-2"></i>Archieve Notes</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Cartzill handheld toolbar-->
<section class="bg-secondary py-4">
  <div class="container pt-4 pt-md-0">
    <div class="row align-items-center">
      <div class="col-xl-4 offset-xl-1 col-lg-5 offset-lg-1 col-md-6 text-center text-md-left">
        <span class="badge badge-info font-size-sm mb-4">From v2.0</span>
        <h2>
          <span class='font-weight-light'>Even More</span> Mobile Friendly <span
            class='font-weight-light'>Interface</span>
        </h2>
        <p class="text-muted pb-2">New <span class='font-weight-medium'>Toolbar</span> designed specifically for
          handheld devices to further improve user experience.</p>
      </div>
    </div>
  </div>
</section>
<!-- Cartzilla features section-->
<section class="py-5">
  <div class="container py-3 py-lg-4">
    <h2 class="text-center mb-4">Feature <span class='font-weight-light'>Highlights</span></h2>
    <div class="row text-center pt-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-grid-gutter pb-2">
        <h6>Why InstaTodos?</h6>
        <p class="font-size-ms text-muted mb-0">We have only one goal to make yourself more productive & that's why we
          have keep InstaTodos completely Free.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 mb-grid-gutter pb-2">
        <h6>How to Organize?</h6>
        <p class="font-size-ms text-muted mb-0">InstaTodos provides everything to get you started to your path to
          success to track everything & analyse your progress in real time..</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 mb-grid-gutter pb-2">
        <h6>Track Everything</h6>
        <p class="font-size-ms text-muted mb-0">Track your progress. Add reminders to remember everything. With
          beautiful themes and efficient tools, you save time and achieve great goals.</p>
      </div>

    </div>
    <h6 class="text-center">And much more...</h6>
  </div>
</section>
