<div class="mdc-list">
    <a class="mdc-list-item" routerLink="/application/list" routerLinkActive="mdc-list-item--activated"
        aria-current="page">
        <i class="icon icon-script-outline mdc-list-item__graphic" aria-hidden="true"></i>
        <span class="mdc-list-item__text">{{ 'inbox' | translate }}</span>
    </a>
    <a class="mdc-list-item" routerLink="/portal/list" routerLinkActive="mdc-list-item--activated">
        <i class="icon icon-explorer material-icons mdc-list-item__graphic" aria-hidden="true"></i>
        <span class=" mdc-list-item__text">{{'today'| translate}}</span>
    </a>
    <a class="mdc-list-item" routerLink="/email/list" routerLinkActive="mdc-list-item--activated">
        <i class="icon icon-group-solid material-icons mdc-list-item__graphic" aria-hidden="true"></i>
        <span class="mdc-list-item__text">{{'completed_todos'| translate}}</span>
    </a>
    <a class="mdc-list-item" routerLink="/doc/list" routerLinkActive="mdc-list-item--activated">
        <i class="icon icon-explorer material-icons mdc-list-item__graphic" aria-hidden="true"></i>
        <span class="mdc-list-item__text">{{'my_goals'|translate}}</span>
    </a>

    <!-- <a class="mdc-list-item" routerLink="/domain/list" routerLinkActive="mdc-list-item--activated">
        <i class="icon icon-firmware-update-solid material-icons mdc-list-item__graphic" aria-hidden="true"></i>
        <span class="mdc-list-item__text">{{'domain_status'|translate}}</span>
    </a>
    <a class="mdc-list-item" routerLink="/subscription/list" routerLinkActive="mdc-list-item--activated">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
        <span class="mdc-list-item__text">{{'subscription_request' | translate}}</span>
    </a> -->
</div>