.todo-inbox {
  .table tr.tr-1 td {
    border-top: none !important;
  }
  .first-cell{
    width: 5% !important;
  }
  .title-cell{
    width: 40% !important;
  }
  .common-cell{
    width: 40% !important;
  }
}
td.nested-parent-cell {
  border: 1px solid rgba(114, 187, 92, 0.8);
  div{
    text-align: center;
    span.title {
      font-size: medium;
      font-weight: 800;
      text-align: center;
    }
  }
}

.list {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid #e8f8ff;
}
.list-item {
  border-bottom: 1px solid #e8f8ff;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 0 20px;
}
.list-view {
  position: absolute;
  left: 0;
  right: 0;
}
.list-filler {
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  box-sizing: border-box;
}