<div>
    <!-- loader -->
    <div *ngIf="loader" class="lds-dual-ring small"></div>
    <div *ngIf="!loader && todos?.data?.length">
        <div>
            <h4>{{todoCurrentType | titlecase}} Tasks: {{todos?.totalCount ? todos?.totalCount: 0}}</h4>
        </div>
        <div class="mdc-data-table" data-mdc-auto-init="MDCDataTable">
            <table class="mdc-data-table__table" aria-label="Dessert calories">

                <!-- For tasks other than todos -->
                <tbody *ngIf="todoCurrentType !== TODOTYPES?.completed" class="mdc-data-table__content">
                    <tr class="mdc-data-table__row cursor" *ngFor="let todo of todos?.data;"
                        (click)="openPopUp(todo, 'UPDATE')">
                        <td class="mdc-data-table__cell">
                            <div class="mdc-form-field">
                                <div class="mdc-radio">
                                    <input class="mdc-radio__native-control" type="radio" id="radio-1" name="radios"
                                        (click)="$event.stopPropagation(); updateTodo(todo)">
                                    <div class="mdc-radio__background">
                                        <div class="mdc-radio__outer-circle"></div>
                                        <div class="mdc-radio__inner-circle"></div>
                                    </div>
                                    <div class="mdc-radio__ripple"></div>
                                </div>
                            </div>
                        </td>
                        <td class="mdc-data-table__cell">
                            <div class="mdc-chip-set" role="grid">
                                <div>
                                    {{todo?.title}}
                                    <span class="mdc-data-table__cell" style="font-size: 10px; color: red;"
                                        *ngIf="todoCurrentType !== TODOTYPES?.today">
                                        {{todo?.scheduledDate | date: 'MMM d, y'}}
                                    </span>
                                </div>
                                <div class="mdc-chip" role="row" *ngFor="let label of todo?.label">
                                    <div class="mdc-chip__ripple"></div>
                                    <span role="gridcell">
                                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                                            <span class="mdc-chip__text">{{label?.name}}</span>
                                        </span>
                                    </span>
                                </div>
                                <span>
                                    <span *ngIf="todo?.priority !== 'P4'" class="material-icons"
                                        [ngStyle]="{color: getPriorityColor(todo?.priority)}">
                                        flag
                                    </span>
                                </span>
                            </div>
                        </td>
                        <!-- <td class="mdc-data-table__cell" style="font-size: 10px;">
                            {{todo?.updatedAt | date: 'medium'}}
                        </td> -->
                        <!-- <td *ngIf="todoCurrentType !== TODOTYPES?.completed">
                            <i class="material-icons" (click)="openPopUp(todo, 'UPDATE')">
                                edit
                            </i>
                        </td> -->
                        <!-- <td (click)="openPopUp(todo, 'DELETE')">
                            <i class="material-icons">
                                delete
                            </i>
                        </td> -->
                    </tr>
                </tbody>

                <!-- For Completed -->
                <tbody *ngIf="todoCurrentType === TODOTYPES?.completed" class="mdc-data-table__content">
                    <ng-container *ngFor="let todo of todos?.data;">
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell nested-parent-cell" colspan="3" title="Completion Date">
                                <div>
                                    <span class="nested-parent-cell title">{{todo?._id  | date: 'mediumDate'}}</span>
                                    <span> - Tasks Completed: {{todo?.list?.length}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="mdc-data-table__row" *ngFor="let data of todo?.list; let i = index">
                            <td class="mdc-data-table__cell">
                                {{i + 1}}.
                            </td>
                            <td class="mdc-data-table__cell">
                                <div class="mdc-chip-set" role="grid">
                                    {{data?.title}}
                                    <div class="mdc-chip" role="row" *ngFor="let label of data?.label">
                                        <div class="mdc-chip__ripple"></div>
                                        <span role="gridcell">
                                            <span role="button" tabindex="0" class="mdc-chip__primary-action">
                                                <span class="mdc-chip__text">{{label?.name}}</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="mdc-data-table__cell" title="Creation Date">
                                {{data?.createdAt | date: 'medium'}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center mt-7p" *ngIf="!todos?.data?.length && !loader">
        <img src="assets/images/no-result.svg">
        <p class="m0 p0">{{ "No Tasks"}}
    </div>
    <app-todo-dialog [todo]="todo" [origin]="todoCurrentType === TODOTYPES.completed? 'COMPLETED' : null"
        (isOpen)="updatePopupFlag($event)" *ngIf="isUpdate">
    </app-todo-dialog>
    <app-todo-delete [todo]="todo" [conditions]="conditions" (isOpen)="updatePopupFlag($event)" *ngIf="isDelete">
    </app-todo-delete>
</div>