<div class="container-fluid todo-inbox" #container>
  <div class="row">
    <div class="col-lg-12">
      <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
            <h4 class="card-title">[ <span class="text-primary">{{todoCurrentType | titlecase}}</span> ] Tasks: <span
                class="text-primary">
                {{todoCurrentType === TODOTYPES.completed ? (compltedCount) : (todos?.totalCount ||  0)}}
              </span>
            </h4>
          </div>
        </div>
        <div class="col-sm-12 text-center" *ngIf="todoCurrentType !== TODOTYPES?.completed && extraLoader">
          <img src="{{loaderImage}}" alt="loader" style="height: 100px;">
        </div>
        <div class="iq-card-body" *ngIf="!extraLoader">
          <!-- Current Todos-->
          <ng-container *ngIf="todoCurrentType !== TODOTYPES?.completed">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                data-toggle="modal" data-target="#todo-dialog">
                <div class="d-flex tasks-card" role="alert" class="tr-{{ i + 1}} cursor"
                  *ngFor="let todo of todos?.data; let i = index" (click)="openPopUp(todo, 'UPDATE')">

                  <div class="custom-control custom-checkbox" (click)="$event.stopPropagation(); updateTodo(todo)">
                    <!-- Checkbox-->
                    <input type="checkbox" class="custom-control-input" id="customCheck11">

                    <!--  Title -->
                    <label class="custom-control-label" for="customCheck11">
                      <div class="d-flex align-items-center justify-content-between">
                        <span> {{todo?.title}}
                          <span class="ml-2" *ngIf="todo?.priority !== 'P4'"
                            [ngStyle]="{color: getPriorityColor(todo?.priority)}">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <span class="badge border border-warning text-warning"
                          *ngIf="todoCurrentType !== TODOTYPES?.pending && todoCurrentType !== TODOTYPES?.today && todo?.scheduledDate">
                          {{todo?.scheduledDate | date: 'MMM d, y'}}
                        </span>
                        <span class="badge border border-danger text-danger"
                          *ngIf="todoCurrentType === TODOTYPES?.pending && todo?.scheduledDate">
                          {{todo?.scheduledDate | date: 'MMM d, y'}}
                        </span>
                      </div>
                    </label>

                    <!-- Labels-->
                    <ng-container
                      *ngIf="todoCurrentType === TODOTYPES?.pending || todoCurrentType === TODOTYPES?.inbox || todoCurrentType === TODOTYPES?.today">
                      <div *ngFor="let label of todo?.label" class="badge badge-pill border border-primary text-primary ml-2">{{label?.name}}
                      </div>
                    </ng-container>
                  </div>

                  <!-- Actions-->
                  <ng-container>
                    <div class=" ml-auto  ml-4">
                      <button type="button" class="close ml-4" data-dismiss="alert" aria-label="Close"
                      (click)="$event.stopPropagation(); deleteTodo(todo)">
                      <i class="fa fa-times cursor" aria-hidden="true"></i>
                    </button>
                      <button type="button" class="close ml-4" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>
          </ng-container>

          <!-- Co0mpleted Todos-->
          <ng-container *ngIf="todoCurrentType === TODOTYPES?.completed">
            <app-infinite-scroll (scrolled)="refresh()">
              <app-todo-completed [todos]="todosC"></app-todo-completed>
              <div class="col-sm-12 text-center" *ngIf="loader">
                <img src="{{loaderImage}}" alt="loader" style="height: 100px;">
              </div>
            </app-infinite-scroll>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-todo-dialog></app-todo-dialog> -->
<app-todo-dialog [todo]="todo" [origin]="todoCurrentType === TODOTYPES.completed? 'COMPLETED' : null"
  (isOpen)="updatePopupFlag($event)" *ngIf="isUpdate">
</app-todo-dialog>