<div class="container-fluid todo-inbox">
  <div class="row">
    <div class="col-lg-12">
      <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <!-- Page haeder -->
        <!-- <div class="iq-card-header d-flex justify-content-between" *ngIf="todoCurrentType !== TODOTYPES.today && todoCurrentType !== TODOTYPES.pending">
          <div class="iq-header-title">
            <h4 class="card-title">[ <span class="text-primary">{{todoCurrentType | titlecase}}</span> ] Tasks: <span
                class="text-primary">
                {{todoCurrentType === TODOTYPES.completed ? this.count?.completed : (todos?.totalCount ||  0)}}
              </span>
            </h4>
          </div>
        </div> -->
        <!--END-->

        <ul class="nav nav-tabs" id="myTab-1" role="tablist">
          <li class="nav-item"
            *ngIf="todoCurrentType !== TODOTYPES.today && todoCurrentType !== TODOTYPES.pending && todoCurrentType !== TODOTYPES.completed && todoCurrentType !== TODOTYPES.inbox && todoCurrentType !== TODOTYPES.upcoming">
            <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/tasks/inbox" role="tab"
              aria-controls="home" aria-selected="true">{{todoCurrentType | titlecase}} ( {{todos?.totalCount || 0}}
              )</a>
          </li>
          <li class="nav-item" *ngIf="todoCurrentType === TODOTYPES.completed">
            <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/tasks/completed" role="tab"
              aria-controls="home" aria-selected="true">{{todoCurrentType | titlecase}} ( {{this.count?.completed}}
              )</a>
          </li>
          <li class="nav-item" *ngIf="todoCurrentType === TODOTYPES.upcoming">
            <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/tasks/upcoming" role="tab"
              aria-controls="home" aria-selected="true">{{todoCurrentType | titlecase}} ( {{ todos?.totalCount || this.count?.upcoming}} )</a>
          </li>
          <li class="nav-item" *ngIf="todoCurrentType === TODOTYPES.inbox">
            <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/tasks/inbox" role="tab"
              aria-controls="home" aria-selected="true">{{todoCurrentType | titlecase}} ( {{ todos?.totalCount || this.count?.inbox}} )</a>
          </li>
          <li class="nav-item" *ngIf="todoCurrentType === TODOTYPES.today || todoCurrentType === TODOTYPES.pending">
            <a [ngClass]="{'active': todoCurrentType === TODOTYPES.today}" class="nav-link" id="home-tab"
              data-toggle="tab" routerLink="/tasks/today" role="tab" aria-controls="home" aria-selected="true">Today (
              {{todos?.totalCount || this.count?.today}} )</a>
          </li>
          <li class="nav-item"
            *ngIf="this.count?.pending && (todoCurrentType === TODOTYPES.today || todoCurrentType === TODOTYPES.pending)">
            <a [ngClass]="{'active': todoCurrentType === TODOTYPES.pending}" class="nav-link" id="profile-tab"
              data-toggle="tab" routerLink="/tasks/pending" role="tab" aria-controls="profile"
              aria-selected="false">Pending ( {{this.count?.pending}} )</a>
          </li>
        </ul>

        <!-- Loader on fetching data-->
        <div class="col-sm-12 text-center" *ngIf="todoCurrentType !== TODOTYPES?.completed && extraLoader">
          <img src="{{loaderImage}}" alt="loader" style="height: 100px;">
        </div>
        <!--END-->

        <div class="iq-card-body" *ngIf="!extraLoader && todoCurrentType !== TODOTYPES?.completed">

          <ul class="list-group list-group-flush" cdkDropList [cdkDropListData]="todos?.data"
            (cdkDropListDropped)="onTodoDrop($event)" cdkDropListOrientation="horizontal">
            <ng-container>
              <ng-container *ngFor="let todo of todos?.data; let i = index">
                <li class="list-group-item tr-{{ i + 1}} cursor" data-toggle="modal" data-target="#todo-dialog"
                  (click)="openPopUp(todo, 'UPDATE')" cdkDropList [id]="todo._id" [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTodoDrop($event)" cdkDrag>
                  <div class="custom-control custom-checkbox custom-control-inline flota-l mr-4"
                    style="padding-left: 0px; margin-top: 5px;">
                    <i class="fa fa-arrows flota-l" aria-hidden="true" cdkDragHandle></i>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline flota-l"
                    (click)="$event.stopPropagation(); updateTodo(todo)">
                    <input type="checkbox" class="custom-control-input" id="customCheck-f{{i+1}}"
                      [checked]="todo?.isCompleted">
                    <label class="custom-control-label" for="customCheck-f{{i+1}}"></label>
                  </div>
                  <div class="cursor flota-l">
                    <!--  Title -->
                    <label>
                      <div class="d-flex align-items-center justify-content-between">
                        <span>
                          <span
                            [ngStyle]="todo?.isCompleted && {'text-decoration': 'line-through'}">{{todo?.title}}</span>
                          <span class="ml-2" *ngIf="todo?.priority !== 'P4'"
                            [ngStyle]="{color: getPriorityColor(todo?.priority)}">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                          </span>
                        </span>
                        <ng-container
                          *ngIf="todoCurrentType === TODOTYPES?.pending || todoCurrentType === TODOTYPES?.inbox || todoCurrentType === TODOTYPES?.today">
                          <span *ngFor="let label of todo?.label" [routerLink]="['/tasks/labels', label?.name]"
                            class="badge badge-pill border border-primary text-primary ml-2 cursor">{{label?.name}}
                          </span>
                        </ng-container>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <span
                          [ngClass]="(checkScheduledDate(todo?.scheduledDate))? 'badge border border-warning text-warning': 'badge border border-danger text-danger'"
                          *ngIf="todoCurrentType !== TODOTYPES?.pending && todoCurrentType !== TODOTYPES?.today && todo?.scheduledDate">
                          {{todo?.scheduledDate | date: 'MMM d, y'}}
                        </span>
                        <span class="badge border border-danger text-danger"
                          *ngIf="todoCurrentType === TODOTYPES?.pending && todo?.scheduledDate">
                          {{todo?.scheduledDate | date: 'MMM d, y'}}
                        </span>
                      </div>
                    </label>
                    <!-- Labels-->

                  </div>
                  <ng-container>
                    <div class=" ml-auto  ml-4">
                      <button type="button" class="close ml-4" data-dismiss="alert" aria-label="Close"
                        (click)="$event.stopPropagation(); deleteRequest(todo)">
                        <span *ngIf="todo?.deleteRequest" (click)="$event.stopPropagation(); deleteTodo(todo)"
                          class="text-primary"> <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
                          click to confirm</span>
                        <i *ngIf="!todo?.deleteRequest" class="fa fa-minus-circle cursor" aria-hidden="true"></i>
                      </button>
                      <!-- <button type="button" class="close ml-4" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button> -->
                    </div>
                  </ng-container>

                </li>
              </ng-container>
            </ng-container>
          </ul>
        </div>

        <!-- Section for Completed Todos-->
        <div class="iq-card-body" *ngIf="!extraLoader && todoCurrentType === TODOTYPES?.completed">
          <app-infinite-scroll (scrolled)="refresh()">
            <app-todo-completed [todos]="todosC"></app-todo-completed>
            <div class="col-sm-12 text-center" *ngIf="loader">
              <img src="{{loaderImage}}" alt="loader" style="height: 100px;">
            </div>
          </app-infinite-scroll>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Popup for Updating todo-->
<app-todo-dialog [todo]="todo" [origin]="todoCurrentType === TODOTYPES.completed? 'COMPLETED' : null"
  *ngIf="extModalConfig.TODO_UPDATE">
</app-todo-dialog>

<app-todo-dialog [modelId]="'todo-dialog-add'" *ngIf="extModalConfig.TODO_ADD"></app-todo-dialog>