<ng-container>
  <li class="d-flex mb-4 align-items-center tr-{{ index + 1}} cursor" style="border-bottom: 1px solid #cccc;
padding-bottom: 10px;" [ngClass]="{'i-am-subtask': isSubTask }" (click)="openPopUp(todo)">
    <!-- Checkbox-->
    <div class="user-img img-fluid">
      <div class="custom-control custom-radio custom-radio-color-checked custom-control-inline ml-3 mt-2" (click)="$event.stopPropagation(); updateTodo(todo)">
        <input type="radio" id="customCheck-f{{ index + 1 }}" name="customRadio-10"
          class="custom-control-input bg-primary">
        <label class="custom-control-label" for="customCheck-f{{ index + 1 }}"></label>
      </div>
      <span *ngIf="todo?.subTasks?.length" (click)="$event.stopPropagation(); expandSubTasks()">
        <i class="fas fa-angle-down" [ngClass]="{ 'fa-angle-down' : isExpand, 'fa-angle-right': !isExpand}" style="font-size: 2em;"></i>
      </span>
    </div>

    <!-- Title & lbeles-->
    <div class="media-support-info ml-3">
      <h6>
        <span>
          <span [ngStyle]="todo?.isCompleted && {'text-decoration': 'line-through'}" class="mr-2">{{todo?.title}}
          </span>
        </span>
      </h6>
      <p class="mb-0 font-size-12">
        <span *ngFor="let label of todo?.labels" class="badge border mt-2 mr-2"
          [ngStyle]="{ 'color': label?.color, 'border-color': '#ccc !important' }">
          #{{label?.name}}
        </span>
      </p>
    </div>

    <!-- other detailsl & actions -->
    <div class="iq-card-header-toolbar d-flex align-items-center">
      <ng-container>
        <span
          *ngIf="todo?.project?.name && ( todoCurrentType === TODOTYPES?.today || todoCurrentType === TODOTYPES?.pending || todoCurrentType === TODOTYPES?.upcoming || todoCurrentType === TODOTYPES?.inbox)"
          [routerLink]="['/tasks/labels', todo.project.name]"
          class="badge badge-primary ml-2 mr-2 cursor">{{todo?.project?.name}}
        </span>
        <span
        *ngIf="todoCurrentType !== TODOTYPES?.today"
        [ngClass]="(checkScheduledDate(todo))? 'border-warning text-warning': 'border-danger text-danger'">
          {{displayDate(todo)}}
        </span>
      </ng-container>
      <span class="text-primary">
        <ng-container>
          <div class=" ml-auto ml-4" (click)="$event.stopPropagation(); deleteRequest(todo)">
            <button type="button" class="close ml-4" data-dismiss="alert" aria-label="Close">
              <span class="text-primary todo-actions" *ngIf="todo?.deleteRequest" (click)="$event.stopPropagation(); deleteTodo(todo)">
                <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>click to confirm
              </span>
              <i *ngIf="!todo?.deleteRequest" class="fa fa-minus-circle cursor" aria-hidden="true"></i>
            </button>
          </div>
        </ng-container>
      </span>
    </div>
  </li>
  <!-- Subtasks-->
  <ng-container *ngIf="todo?.subTasks?.length && isExpand">
    <app-todo-single
    *ngFor="let subtask of todo?.subTasks; let i = index"
    [todo]= "subtask"
    [index]="i"
    [todoCurrentType]="todoCurrentType"
    [TODOTYPES]="TODOTYPES"
    (openPopUpCb)="openPopUp($event)"
    (updateTodoCb)="updateTodo($event)"
    (deleteTodoCb)="deleteTodo($event)"
    [isSubTask]="true"
    ></app-todo-single>
  </ng-container>
</ng-container>