<div class="container-fluid mh-40">
  <div class="row mt-15">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="iq-accordion career-style faq-style  ">
        <div class="iq-card iq-accordion-block accordion-active">
          <div class="active-faq clearfix" style="">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="text-page__main-title text-center">InstaTodos Terms of Service</h1>
                  <h6 class="text-page__main-subtitle text-center">Effective Date: September 27th, 2018</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="text-page__container inner">
              <section class="text-page__section">
                <h3>Thanks for Choosing Todoist!</h3>
                <p>Thanks for choosing Todoist! Todoist service (“Service”) is provided by Doist Ltd. (“Doist”). By
                  using our Service, you are agreeing to these Terms of Service (“Terms”) and certify that you are over
                  the age of 13. If you are using the Service on behalf of an organization or entity (“Organization”),
                  then you are agreeing to these Terms on behalf of the Organization. In that case, “you” and “your” may
                  refer to the Organization. Please read these terms carefully before start using our Service.</p>
              </section>

              <section class="text-page__section">
                <h3>Change of Terms of Service</h3>
                <p>From time to time, Doist may modify existing terms and/or update these terms with additional terms
                  that apply to the Service. For example, Doist may modify existing terms to reflect any mandatory
                  changes to the law. You should check the terms regularly to keep informed. Doist will also post notice
                  of modification to these Terms on this page or via the email address you registered with us. Note,
                  changes will not apply retroactively and will become effective thirty (30) days after they are posted
                  on our website. Changes addressing new functions for the Service or changes made for legal reasons may
                  be effective immediately. You should discontinue your use of our Service if you do not agree with
                  updated/modified Terms.</p>
              </section>

              <section class="text-page__section">
                <h3>Privacy Protection</h3>
                <p>Doist’s <a href="/privacy">privacy policies</a> explain how we treat your personal data and protect
                  your privacy when using our Service. By using our Service, you automatically agree to our privacy
                  policies and Doist can use such data in accordance with its privacy policies.</p>
              </section>

              <section class="text-page__section">
                <h3>Your Content in Our Service</h3>
                <p>Our service allows you to upload, download and store content, including but not limited to,
                  information, text, graphics, videos, audios, or other material (“Content”). You retain ownership of
                  any intellectual property rights that you hold in that Content. When you upload, store, send or
                  receive Content to or through our Service, you give Doist and its service partners a worldwide license
                  to host, store, upload and download this Content and only for the purpose of providing Service
                  strictly to you and your use of the Content. We reserve our right at all times, but are not obligated,
                  to remove or refuse to distribute any Content through the Service including your Content.</p>
              </section>

              <section class="text-page__section">
                <h3>Software in Our Service</h3>
                <p>When the Service requires or includes downloadable software, this software may update automatically
                  on your device once a new version or features become available to you. Some platforms may let you
                  adjust your automatic update settings.</p>
                <p>Doist gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use
                  the software provided by Doist as part of the Service. You may not copy, modify, distribute, sell, or
                  lease any part of our Service or included software, nor may you reverse engineer or attempt to extract
                  the source code of the software, unless local laws prohibit those restrictions or you have our written
                  permission.</p>
              </section>

              <section class="text-page__section">
                <h3>Modifying and Terminating Our Service</h3>
                <p>Doist may add or remove functionalities or features in the normal course of improving, changing,
                  and/or updating the Service. We may also suspend or stop our Service with at least thirty (30) days
                  notice prior to the complete shutdown of our Service.</p>
                <p>You can choose to stop using our Service at will. We may also stop providing Service to you, or add
                  or create new limitations to our Service at any time as detailed in the Terms.</p>
              </section>

              <section class="text-page__section">
                <h3>API</h3>
                <p>You may access your Service data via the Application Program Interface (“API”). By using API, you are
                  automatically bound by the Terms.</p>
              </section>

              <section class="text-page__section">
                <h3>Using Our Service</h3>
                <p>You must follow any policies made available to you within the Service. You may only use our Service
                  as permitted by law. Doist may investigate and/or suspend or terminate our Service to you at any time
                  if we find your use of our Service violates the Terms and/or any policies.</p>
                <p>Using our Service does not grant you ownership of any intellectual property rights in our Service or
                  the content you may have access to. You may not use any copyrighted content in our Service unless you
                  obtain permission from the content owner and/or are otherwise permitted by law. The Terms do not grant
                  you the right to use any branding or logos used in our Service. Our Service may display some logos,
                  trademarks, or branding materials that is not the property of Doist. These types of content are the
                  sole responsibility of the entity that makes it available.</p>
                <p>You must not abuse and/or misuse our Service, including but not limited to, doing the following
                  things:</p>
                <ol>
                  <li>Using the Service for any unlawful purposes or activities;</li>
                  <li>Uploading any content to the Service in violation of any applicable law, including but not limited
                    to, intellectual property laws and publicity laws;</li>
                  <li>Sending unsolicited promotions or advertisements;</li>
                  <li>Accessing or tampering with the Service’s server systems;</li>
                  <li>Interfering with or disrupting the access of any user, host, or network;</li>
                  <li>Abusing or submitting excessively frequent requests to the Service via the API.</li>
                </ol>
                <p>Doist, in its sole discretion, will determine abuse and/or misuse of our Service.</p>
              </section>


              <section class="text-page__section">
                <h3>Premium Subscription Service and Payment</h3>

                <p>You may choose our free Service or paid subscription Service which automatically renews at the end of
                  your billing period (“Premium”) depending on your need. We do not guarantee when, if ever, Premium
                  features will be available in the free Service. You can upgrade from free Service to Premium at any
                  time by following instructions on our <a href="/pricing">pricing page</a> (“Pricing”).</p>

                <p>When a free trial of Premium is offered, you will have access to all Premium features. After the free
                  trial period, if you choose not to upgrade to Premium, features available to you will be limited to
                  free Service. You will be charged with the amount shown on Pricing before you can access Premium. All
                  prices shown on Pricing are inclusive of any applicable sales taxes, levies, value-added taxes, or
                  duties imposed by taxing authorities, and you are responsible for the forwarding/remittance of all
                  such taxes, levies, or duties (except for E.U. Customers, where the Euro pricing includes mandatory
                  E.U. VAT charges).</p>

                <p>BY PURCHASING PREMIUM YOU EXPRESSLY UNDERSTAND AND AGREE TO OUR REFUND POLICY:</p>

                <p>WITHIN THIRTY (30) DAYS OF YOUR PREMIUM PAYMENT DATE AS SHOWN ON YOUR PAYMENT BILL, YOU CAN REQUEST A
                  FULL REFUND BY CONTACTING US. NO REFUND OF ANY KIND WILL BE PERMITTED AFTER THIRTY (30) DAYS OF YOUR
                  PREMIUM PAYMENT DATE.</p>

                <p>FOR ANY CUSTOMER WHO PURCHASED PREMIUM IN GOOGLE INC.’S PLAY STORE (“PLAY STORE”). PLEASE REFER TO
                  GOOGLE INC.’S SUPPORT PAGE FOR DETAILED INSTRUCTIONS: <a
                    href="https://support.google.com/googleplay/answer/2479637" target="_blank">Get a refund on
                    Google</a>.</p>
                <p>FOR ANY CUSTOMER WHO PURCHASED PREMIUM IN APPLE INC.’s APP STORE (“APP STORE”), PLEASE CONTACT APPLE
                  INC.’s SUPPORT TEAM: <a href="http://reportaproblem.apple.com/"
                    target="_blank">http://reportaproblem.apple.com/</a>. APP STORE DOES NOT ALLOW DEVELOPERS TO ISSUE
                  REFUND FOR APP STORE PURCHASES MADE BY CUSTOMERS.</p>

                <p>FOR ANY CUSTOMER WHO PURCHASED PREMIUM IN MICROSOFT’S WINDOWS STORE (“WINDOWS STORE”), PLEASE BE
                  AWARE THAT MICROSOFT DOES NOT HONOR REFUND POLICIES OF THE VENDOR FOR PURCHASES MADE IN THE WINDOWS
                  STORE, NO REFUND CAN BE ISSUED BY EITHER DOIST OR MICROSOFT.</p>

              </section>

              <section class="text-page__section">
                <h3>Limited Liability for Our Service</h3>
                <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICE IS AVAILABLE “AS IS”. YOU EXPRESSLY UNDERSTAND
                  AND AGREE THAT:</p>
                <p>WHEN PERMITTED BY LAW, DOIST AND ITS SERVICE PARTNERS, LICENSORS, EMPLOYEES, AGENTS WILL NOT BE
                  RESPONSIBLE FOR ANY LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL,
                  CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES UNDER ANY CIRCUMSTANCES.</p>
                <p>YOUR USE AND/OR PURCHASE OF SERVICE ARE ALL AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS”
                  BASIS.</p>
                <p>DOIST DOES NOT WARRANT THAT:</p>
                <ol>
                  <li>THE SERVICE WILL MEET ALL OF YOUR REQUIREMENTS AT ALL TIMES;</li>
                  <li>THE SERVICE WILL BE ERROR-FREE AND ALL ERRORS IN THE SERVICE WILL BE CORRECTED;</li>
                  <li>THE SERVICE WILL BE UNINTERRUPTED.</li>
                </ol>
                <p>ALL CONTENT DOWNLOADED, UPLOADED AND/OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT
                  YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER EQUIPMENT
                  OR DEVICES, INCLUDING BUT NOT LIMITED TO, LAPTOP COMPUTERS, DESKTOP COMPUTER, TABLETS, SMARTPHONES AND
                  SMARTWATCHES, OR ANY DATA LOSS RESULTING FROM DOWNLOAD OR USE OF ANY SUCH ABOVE MENTIONED MATERIAL.
                </p>
              </section>


              <section class="text-page__section">
                <h3>Information gathering and usage</h3>
                <p>When registering for Todoist we ask for information such as your name and email address. For Todoist
                  Premium we also store your PayPal email and mobile phone number. Your information is only used
                  internally and won’t be shared with others.</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>