<div class="tab-pane show" id="chang-pwd" role="tabpanel">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">Change Password</h4>
      </div>
    </div>
    <div class="iq-card-body">
      <form [formGroup]="formObj" (ngSubmit)="submit()" novalidate>
        <div class=" row align-items-center">
          <div class="form-group col-sm-6">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password" formControlName="password" placeholder="Password"
              autocomplete="off">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" [disabled]="!formObj.valid">Save</button>
      </form>
    </div>
  </div>
</div>
