<!-- Loader on fetching data-->
<div class="col-sm-12 text-center" *ngIf="loader">
  <img [src]="loaderImage" alt="loader" style="height: 100px;">
</div>
<div class="card-columns">
  <div class="card" *ngFor="let goal of goals?.data;" [style]="{ 'border': '1px solid #ccc' }">
    <div class="card">
      <div class="card-body" [style]="{ 'padding-bottom': '0px'  }">
        <h4 class="card-title">{{goal?.title}}</h4>
        <blockquote class="blockquote mb-0">
          <p class="font-size-14" [innerHTML]="goal?.description"></p>
        </blockquote>
        <p class="card-text"><small class="text-muted">Updated {{goal?.updatedAt | date:'medium'}}</small></p>
      </div>
    </div>
  </div>
</div>