<div class="tab-content">
  <div class="tab-pane fade show active" id="home">
    <ng-container *ngFor="let todo of todos?.data;">
      <div class=" d-flex tasks-card" role="alert">
        <div class="custom-control">
          <!--  Title -->
          <label class="">
            <div class="d-flex align-items-center justify-content-between text-primary">
              <button type="button" class="btn mb-1 iq-bg-primary">
                {{todo?._id  | date: 'mediumDate'}}
                <span class="badge badge-light ml-2">{{todo?.subTasks?.length}}</span>
              </button>
            </div>
          </label>
        </div>
      </div>

      <!-- Childs-->
      <div class="d-flex tasks-card" role="alert" *ngFor="let data of todo?.subTasks; let i = index">
        <app-todo-completed-single [todo]="data" [index]="i"></app-todo-completed-single>
      </div>
    </ng-container>
  </div>
</div>
