<tbody>
  <ng-container *ngFor="let todo of todos?.data;">
    <tr>
      <td colspan="4" title="Completion Date">
        <div class="d-flex align-items-center justify-content-between text-warning">
          <span> Tasks Completed: <span class="text-info">{{todo?.list?.length}}</span>
          </span>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <span class="badge border border-info text-info">
            {{todo?._id  | date: 'mediumDate'}}
          </span>
        </div>
      </td>
    </tr>
    <tr *ngFor="let data of todo?.list; let i = index">
      <td class="mdc-data-table__cell">
        {{i + 1}}.
      </td>
      <td>
        <div>
          {{data?.title}}

        </div>
      </td>
      <td>
        <div *ngFor="let label of data?.label" class="badge badge-info mr-2">{{label?.name}}
        </div>
      </td>
      <td>
        {{data?.createdAt | date: 'medium'}}
      </td>
    </tr>
  </ng-container>
</tbody>