<!-- loader Start -->
<!-- <div id="loading">
    <div id="loading-center">
    </div>
 </div> -->
<!-- loader END -->
<!-- Wrapper Start -->

<div class="wrapper">

  <ng-container>
    <app-header></app-header>
  </ng-container>
  <ng-container>
    <app-sidebar></app-sidebar>
  </ng-container>

  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <router-outlet></router-outlet>
    <router-outlet name="goal-add"></router-outlet>
  </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<footer class="iq-footer">
  <app-footer></app-footer>
</footer>
<app-theme [jQuery]="jQuery"></app-theme>
<!-- Footer END -->
