/* You can add global styles to this file, and also import other style files */
.cursor {
  cursor: pointer;
}
button:disabled, button[disabled] {
  background-color: var(--iq-primary) !important;
  border-color: var(--iq-primary) !important;
}

// a:hover {
//   color: var(--iq-primary) !important;
// }
.flota-l {
  float: left;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}