<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-sm-12 text-center">
      <div class="iq-maintenance">
        <img class="img-fluid" style="width: 100%;" [lazyLoad]="image">
        <h3 class="mt-4 mb-1">{{'enhance_productivity' | translate}}</h3>
        <p>{{'organize_yourself' | translate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-4">
      <div class="iq-card text-center mb-0">
        <div class="iq-card-body">
          <i class="ri-window-line ri-4x line-height text-primary"></i>
          <h5 class="card-title mt-1">{{'why_app' | translate}}</h5>
          <p class="mb-0">{{'why_app_desc' | translate}}/p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="iq-card text-center mb-0">
        <div class="iq-card-body">
          <i class="ri-time-line ri-4x line-height text-primary"></i>
          <h5 class="card-title mt-1">{{'how_to_organize' | translate}}</h5>
          <p class="mb-0">{{'how_to_organize_desc' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="iq-card text-center mb-0">
        <div class="iq-card-body">
          <i class="ri-information-line ri-4x line-height text-primary"></i>
          <h5 class="card-title mt-1">{{'track_everything' | translate}}</h5>
          <p class="mb-0">{{'track_everything_desc' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
