<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-sm-12 text-center">
      <div class="iq-maintenance">
        <img class="img-fluid" style="width: 100%;" [lazyLoad]="image">
        <h3 class="mt-4 mb-1">Enhance your Productivity & make your life more better</h3>
        <p>Organize yourself you never experienced ever.</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-4">
      <div class="iq-card text-center mb-0">
        <div class="iq-card-body">
          <i class="ri-window-line ri-4x line-height text-primary"></i>
          <h5 class="card-title mt-1">Why InstaTodos?</h5>
          <p class="mb-0">We have only one goal to make yourself more productive & that's why we have keep
            InstaTodos completely Free.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="iq-card text-center mb-0">
        <div class="iq-card-body">
          <i class="ri-time-line ri-4x line-height text-primary"></i>
          <h5 class="card-title mt-1">How to Organize?</h5>
          <p class="mb-0">InstaTodos provides everything to get you started to your path to success to track
            everything & analyse your progress in real time.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="iq-card text-center mb-0">
        <div class="iq-card-body">
          <i class="ri-information-line ri-4x line-height text-primary"></i>
          <h5 class="card-title mt-1">Track Everything</h5>
          <p class="mb-0">Track your progress. Add reminders to remember everything. With beautiful themes and
            efficient tools, you save time and achieve great goals.</p>
        </div>
      </div>
    </div>
  </div>
</div>