<!-- loader -->
<div *ngIf="loader" class="lds-dual-ring small"></div>
<div *ngIf="!loader">
    <div class="mdc-data-table" data-mdc-auto-init="MDCDataTable">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
            <thead>
                <tr class="mdc-data-table__header-row">
                    <!-- <th class="mdc-data-table__header-cell w50" role="columnheader" scope="col"></th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Title</th> -->
                    <!-- <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Description</th> -->
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                <tr class="mdc-data-table__row" *ngFor="let todo of todos?.data;">
                    <td class="mdc-data-table__cell">
                        <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                                <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-1" />
                                <div class="mdc-checkbox__background">
                                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                        <path class="mdc-checkbox__checkmark-path" fill="none"
                                            d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                    </svg>
                                    <div class="mdc-checkbox__mixedmark"></div>
                                </div>
                                <div class="mdc-checkbox__ripple"></div>
                            </div>
                            <!-- <label for="checkbox-1">Checkbox 1</label> -->
                        </div>
                    </td>
                    <td class="mdc-data-table__cell">
                        {{todo?.title}}
                    </td>
                    <td>
                        <i class="material-icons">
                            edit
                        </i>
                    </td>
                    <td>
                        <i class="material-icons">
                            delete
                        </i>
                    </td>
                    <!-- <td class="mdc-data-table__cell">
                        <a [href]="application.appdetails.application_url" target="_blank">
                            {{ application.appdetails.name }}
                        </a>
                    </td>
                    <td class="mdc-data-table__cell mdl-data-table_cell--description">
                        {{ application.appdetails.description }}
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>